.calculator-grid {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto), repeat(5, 6rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    justify-content: center;
    outline: none;
    background-color: rgba(5, 5, 5, 0.75);
  }
  
  .calculator-grid > button:hover,
  .calculator-grid > button:focus {
    background-color: rgba(126, 123, 123, 0.9);
  }

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgb(101, 173, 80);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(228, 81, 81);
    font-size: 2.5rem;
}

.CalcLayout {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 6rem);
    align-items: flex-start;
    justify-content: space-around;
    padding: .75rem;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: tomato;
}

.saved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: turquoise;
}